.meni{
    overflow: hidden;
    background-color: blue;
    text-align: center;
    border: 2px solid black;
}

.meni a{
    
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 15%;
}

.meni a:hover{
    background-color: white;
    color: blue;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px;

}

#audi {
    height: 250px;
    width: 500px;
    margin-left: 10px;
    float:left;
    border: 2px solid blue;
    border-radius: 15px;
    box-shadow: 5px 5px blue;
}

p {
    text-align: center;
    padding: 15px;
    color: blue;
}

#passat {
    height: 250px;
    width: 500px;
    margin-left: 10px;
    float:left;
    border: 2px solid blue;
    border-radius: 15px;
    box-shadow: 5px 5px blue;
}

#renault {
    height: 250px;
    width: 500px;
    margin-left: 10px;
    float:left;
    border: 2px solid blue;
    border-radius: 15px;
    box-shadow: 5px 5px blue;
}


#anim {
    width: 300px;
    height: 250px;
    animation:animacija 4s linear infinite;
    display: block;
    margin: auto;
}

@keyframes animacija {
    from{transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}

@media screen and (max-width:600px){
    .meni a { width: 100px;}
    #audi {display: none;}
    #passat {display: none;}
    #renault {display: none;}
    #anim {display: none;}
}